html, body, h1, h2, h3, h4, h5, h6, p, div, ol, ul, li, button, input {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    // color: white;
    // background-color: black;
}

$dark:   #101357;
$color1: #1E23E8;
$color2: #1F5CF2;
$color3: #2889DB;
$color4: #1FCBF2;
$color5: #1EE8D7;
@mixin thing($color) {
    background-color: $color;
    // border: double 4px blue;
    border-radius: 10px;
}



body {
    @include thing(green);
    #contentContainer {
        @include thing(red);
        #list-box {
            background-color: $dark;
            // border: double 4px blue;
            padding: 30px;
            // width: 100vw;
            .list {
                color: $color5;
                width: 300px;
                // margin-left: 5px;
                padding: 10px;
                border-radius: 20px;
                background-color: white;
                border: black solid 2px;
                .list-title {
                }
                .list-items {
                    .item {
                        background-color: white;
                        border: black solid 2px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                        // background-color: $color2;
                        border-radius: 10px;
                        margin: 5px 0;
                        // @include thing(red);
                        color: rgb(17, 33, 50);
                        p {
                            max-width: 242px;
                            overflow-wrap: break-word;
                        }
                        .buttons {
                            display: flex;
                            flex-flow: wrap;
                            justify-content: end;
                            button {
                                border-radius: 5px;
                                padding: 2px;
                                background-color: white;
                                border: black solid 2px;
                                width: 30px;
                                height: 30px;
                                margin: 2px;
                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                                &:hover {
                                    background-color: red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}